In [1]:
import numpy as np 
import pandas as pd
import os

In [2]:
cr1 = pd.read_csv('R_Module_Day_7.2_Credit_Risk_Train_data.csv')

In [3]:
cr2 = pd.read_csv('R_Module_Day_8.2_Credit_Risk_Validate_data.csv')

In [4]:
cr3= pd.read_csv('R_Module_Day_8.1_Credit_Risk_Test_data.csv')

In [5]:
cr1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
cr2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N

In [7]:
cr3.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [8]:
cr1.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
cr2.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
outcome               0
dtype: int64

In [10]:
cr3.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [11]:
cr1.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [12]:
cr2.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
outcome               object
dtype: object

In [13]:
cr3.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [14]:
# Do Imputation for gender

cr1.groupby('Gender').agg({'Gender':np.size})
cr1['Gender'] = cr1['Gender'].fillna('Male')
cr1['Gender'] = cr1['Gender'].astype('category')
cr1['Gender'] = cr1['Gender'].cat.codes

In [15]:
cr2.groupby('Gender').agg({'Gender':np.size})
cr2['Gender'] = cr2['Gender'].fillna('Male')
cr2['Gender'] = cr2['Gender'].astype('category')
cr2['Gender'] = cr2['Gender'].cat.codes

In [16]:
cr3.groupby('Gender').agg({'Gender':np.size})
cr3['Gender'] = cr3['Gender'].fillna('Male')
cr3['Gender'] = cr3['Gender'].astype('category')
cr3['Gender'] = cr3['Gender'].cat.codes

In [17]:
cr3.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [18]:
# Do Imputation for Married

cr1.groupby('Married').agg({'Married':np.size})
cr1['Married'] = cr1['Married'].fillna('Yes')
cr1['Married'] = cr1['Married'].astype('category')
cr1['Married'] = cr1['Married'].cat.codes

In [19]:
cr2.groupby('Married').agg({'Married':np.size})
cr2['Married'] = cr2['Married'].fillna('Yes')
cr2['Married'] = cr2['Married'].astype('category')
cr2['Married'] = cr2['Married'].cat.codes

In [20]:
cr3.groupby('Married').agg({'Married':np.size})
cr3['Married'] = cr3['Married'].fillna('Yes')
cr3['Married'] = cr3['Married'].astype('category')
cr3['Married'] = cr3['Married'].cat.codes

In [21]:
cr3.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [22]:
# Do imputation for Dependents

cr1.groupby('Dependents').agg({'Dependents':np.size})
cr1['Dependents'] = cr1['Dependents'].fillna('0')
cr1['Dependents'] = cr1['Dependents'].astype('category')
cr1['Dependents'] = cr1['Dependents'].cat.codes

In [23]:
cr2.groupby('Dependents').agg({'Dependents':np.size})
cr2['Dependents'] = cr2['Dependents'].fillna('0')
cr2['Dependents'] = cr2['Dependents'].astype('category')
cr2['Dependents'] = cr2['Dependents'].cat.codes

In [24]:
cr3.groupby('Dependents').agg({'Dependents':np.size})
cr3['Dependents'] = cr3['Dependents'].fillna('0')
cr3['Dependents'] = cr3['Dependents'].astype('category')
cr3['Dependents'] = cr3['Dependents'].cat.codes

In [25]:
cr3.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [26]:
# Do imputation for Education

cr1.groupby('Education').agg({'Education':np.size})
#cr1['Education'] = cr1['Education'].fillna('0')
cr1['Education'] = cr1['Education'].astype('category')
cr1['Education'] = cr1['Education'].cat.codes

In [27]:
cr2.groupby('Education').agg({'Education':np.size})
#cr1['Education'] = cr1['Education'].fillna('0')
cr2['Education'] = cr2['Education'].astype('category')
cr2['Education'] = cr2['Education'].cat.codes

In [28]:
cr3.groupby('Education').agg({'Education':np.size})
#cr1['Education'] = cr1['Education'].fillna('0')
cr3['Education'] = cr3['Education'].astype('category')
cr3['Education'] = cr3['Education'].cat.codes

In [29]:
# Do imputation for Self-Employed

cr1.groupby('Self_Employed').agg({'Self_Employed':np.size})
cr1['Self_Employed'] = cr1['Self_Employed'].fillna('No')
cr1['Self_Employed'] = cr1['Self_Employed'].astype('category')
cr1['Self_Employed'] = cr1['Self_Employed'].cat.codes

In [30]:
cr2.groupby('Self_Employed').agg({'Self_Employed':np.size})
cr2['Self_Employed'] = cr2['Self_Employed'].fillna('No')
cr2['Self_Employed'] = cr2['Self_Employed'].astype('category')
cr2['Self_Employed'] = cr2['Self_Employed'].cat.codes

In [31]:
cr3.groupby('Self_Employed').agg({'Self_Employed':np.size})
cr3['Self_Employed'] = cr3['Self_Employed'].fillna('No')
cr3['Self_Employed'] = cr3['Self_Employed'].astype('category')
cr3['Self_Employed'] = cr3['Self_Employed'].cat.codes

In [32]:
cr3.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [33]:
# Do imputation for Property_Area

cr1.groupby('Property_Area').agg({'Property_Area':np.size})

cr1['Property_Area'] = cr1['Property_Area'].astype('category')
cr1['Property_Area'] = cr1['Property_Area'].cat.codes

In [34]:
cr2.groupby('Property_Area').agg({'Property_Area':np.size})

cr2['Property_Area'] = cr2['Property_Area'].astype('category')
cr2['Property_Area'] = cr2['Property_Area'].cat.codes

In [35]:
cr3.groupby('Property_Area').agg({'Property_Area':np.size})

cr3['Property_Area'] = cr3['Property_Area'].astype('category')
cr3['Property_Area'] = cr3['Property_Area'].cat.codes

In [36]:
cr3.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [37]:
cr1["LoanAmount"].fillna(cr1["LoanAmount"].mean(),inplace = True)
cr2["LoanAmount"].fillna(cr2["LoanAmount"].mean(),inplace = True)
cr3["LoanAmount"].fillna(cr3["LoanAmount"].mean(),inplace = True)

In [38]:
cr1['Loan_Amount_Term'].fillna(cr1["Loan_Amount_Term"].median(),inplace = True)
cr2['Loan_Amount_Term'].fillna(cr2["Loan_Amount_Term"].median(),inplace = True)
cr3['Loan_Amount_Term'].fillna(cr3["Loan_Amount_Term"].median(),inplace = True)

In [39]:
cr3.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64

In [40]:
cr1.groupby('Credit_History').agg({'Credit_History':np.size})
cr1['Credit_History'] = cr1["Credit_History"].fillna('1.0')
cr1['Credit_History'] = cr1['Credit_History'].astype('category')
cr1['Credit_History'] = cr1['Credit_History'].cat.codes

In [41]:
cr2.groupby('Credit_History').agg({'Credit_History':np.size})
cr2['Credit_History'] = cr2['Credit_History'].fillna('1.0')
cr2['Credit_History'] = cr2['Credit_History'].astype('category')
cr2['Credit_History'] = cr2['Credit_History'].cat.codes

In [42]:
cr3.groupby('Credit_History').agg({'Credit_History':np.size})
cr3['Credit_History'] = cr3['Credit_History'].fillna('1.0')
cr3['Credit_History'] = cr3['Credit_History'].astype('category')
cr3['Credit_History'] = cr3['Credit_History'].cat.codes

In [43]:
cr3.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [44]:
cr1.dtypes

Loan_ID               object
Gender                  int8
Married                 int8
Dependents              int8
Education               int8
Self_Employed           int8
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History          int8
Property_Area           int8
Loan_Status           object
dtype: object

In [45]:
cr1['Loan_Status'] = cr1['Loan_Status'].astype('category')
cr1['Loan_Status'] = cr1['Loan_Status'].cat.codes

In [46]:
cr2['outcome'] = cr2['outcome'].astype('category')
cr2['outcome'] = cr2['outcome'].cat.codes

In [47]:
cr1.dtypes

Loan_ID               object
Gender                  int8
Married                 int8
Dependents              int8
Education               int8
Self_Employed           int8
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History          int8
Property_Area           int8
Loan_Status             int8
dtype: object

In [48]:
# Split dataset into i/p and o/p

x_train_x = cr1.iloc[:,1:12]

In [49]:
y_train_y = cr1.iloc[:,12:]

In [50]:
x_val_x = cr2.iloc[:,1:12]

In [51]:
y_val_y = cr2.iloc[:,12:]

In [52]:
x_test_x = cr3.iloc[:,1:12]

In [53]:
x_train_x.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1,2
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1,0
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1,2
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1,2
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1,2

In [54]:
x_train_x = pd.get_dummies(x_train_x,columns= ['Dependents'],drop_first= True)
x_val_x = pd.get_dummies(x_val_x,columns= ['Dependents'],drop_first = True)
x_test_x = pd.get_dummies(x_test_x,columns = ['Dependents'],drop_first = True)

In [55]:
y_train_y.head()

   Loan_Status
0            1
1            0
2            1
3            1
4            1

In [56]:
y_train_y = pd.get_dummies(y_train_y,columns= ['Loan_Status'],drop_first= True)
y_val_y = pd.get_dummies(y_val_y,columns= ['outcome'],drop_first = True)

In [57]:
train_x = x_train_x.iloc[:,:].values
test_x = x_test_x.iloc[:,:].values
val_x = x_val_x.iloc[:,:].values

In [58]:
train_y = y_train_y.iloc[:,:].values
val_y = y_val_y.iloc[:,:].values

In [59]:
# Do Scaling 

from sklearn.preprocessing import StandardScaler
std_sc = StandardScaler()
train_x = std_sc.fit_transform(train_x)
val_x = std_sc.fit_transform(val_x)
test_x = std_sc.fit_transform(test_x)

In [60]:
# Create SVM model 

from sklearn.svm import SVC
svmModel = SVC(kernel = 'rbf')
svmModel.fit(train_x,train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [61]:
# Do prediction 

y_pred = svmModel.predict(val_x)

In [62]:
# find confusion matrix and accuracy

from sklearn.metrics import confusion_matrix,accuracy_score

cm_svm = confusion_matrix(y_pred,val_y)
acc_svm = accuracy_score(y_pred,val_y)
print( "confusion matrix\n %s"%cm_svm)
print("accuracy of SVM model is %s"%acc_svm)

confusion matrix
 [[ 59   2]
 [ 18 288]]
accuracy of SVM model is 0.9455040871934605